/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
html, body { height: 100%;   @include mat.core-theme(mat.$green-palette);
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


$theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$green-palette,
  ),
  typography: (
    brand-family: 'Comic Sans',
    bold-weight: 900
  ),
  density: (
    scale: -1
  )
));